* {box-sizing: border-box;}

body {background-image: url("gradientblue.jpg"); background-color: #6699FF; font-color: #D5E3FF; 
font-family: Arial, Verdana, sans-serif;}

main {display: block; margin-left: 180px; padding-right: 20px; padding-bottom: 20px;}

header {
	display: block; background-color: #000066; font-color: #FFFFFF; background-image: url("bigfish.gif"); 
	background-repeat: no-repeat; background-position: center; text-align: center; color: #FFFFFF;
}

h1 {font-size: 3em; padding: 10px; line-height: 150%; text-shadow: #CCCCCC; font-color: #FFFFFF;}

nav {display: block; font-weight: bold; float: left; width: 150px;}

.category {font-weight: bold; background-color: #FFFFFF; font-color: #003366; font-size: 1.1em; text-shadow: 1px 1px 1px #667;}

footer {display: block; font-size: 0.70em; font-style: italic; padding: 10px; margin-left: 180px;}

#wrapper {background-color: #FFFFFF; font-color: #000066; width: 80%; margin-right: auto; margin-left: auto; 
	min-width: 700px; max-width: 1024px;}

img {border-style: none;}

footer nav {text-align: left;}

a:link {text-decoration: none;}

nav ul {list-style-type: none;}

nav a:unvisited {color: #3262A3;}

nav a:visited {color: #6699FF;}

nav a:hover {color: #CCCCCC;}

